/* styles/globals.css */

.folded-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: white;
  clip-path: polygon(100% 0, 0% 0%, 100% 100%);
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.folded-image:hover::after {
  background: #797880; /* Tailwind orange-500 */
}
